@tailwind base;
@tailwind components;
@tailwind utilities;
/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 900 */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
/* .work-sans-font {
  font-family: "Work Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;how
} */
.regular{
 
    font-weight: 300;
}